.Successful{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    margin-top: 70px;
}


.Successful_container{
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
  
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.Successful_container button{
    margin-bottom: 20px;
}


.Successful_img{
    max-width: 400px;
    max-height: 400px;
}