.login_page_admin {
  background: url("./img/login_page_admin.png");
  /* background-size: cover; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat center;
  position: relative;
  /* width: 90%; */
  height: 950px;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid rgb(216, 159, 0); */
}

.login_form {
  background-color: rgb(255, 255, 255);
  /* border: 2px solid red; */
  margin-top: 13rem;
  text-align: center;
  width: 50%;
  border-radius: 15px;
  padding-bottom: 1rem;
}

.login_container {
  /* border: 2px solid rgb(0, 117, 252); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.zone_left_container {
  border: 2px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(232, 232, 232);
  
}

.WELCOME{
  color: rgb(139, 139, 139);
  font-size: 18px;
}

.zone_left {
  /* border: 2px solid rgb(252, 185, 0); */
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 49%;
}
/* .zone_left h3 {
  color: rgb(85, 85, 85);
  font-size: medium;
} */

.zone_left div {
  color: rgb(85, 85, 85);
  font-size: small;
}

.zone_right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid rgb(255, 0, 251); */
  padding-top: 5rem;
  padding-bottom: 4rem;
  width: 49%;
}

.zone_right img {
  /* border: 2px solid rgb(0, 47, 255); */
  padding-top: 2rem;
  margin-left: 2.5rem;
  width: 80%;
}

.zone_right_font {
  color: rgb(85, 85, 85);
  font-size: 12px;
}

.input_container {
  margin-top: 2rem;
  /* border: 2px solid rgb(30, 255, 0); */
}

.input-wrapper {
  /* border: 2px solid rgb(255, 0, 0); */
  /* position:relative; */
  margin-top: 1.5rem;
  line-height: 14px;
  /* margin:0 10px; */
  /* display:inline-block; */
}

.input-wrapper input{
  background-color: #F5F5F5;
  width: 75%;
}

.username{
  margin-top: 1.5rem;
}

label {
  color: #bbb;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 14px;
  padding: 0 2px;
  pointer-events: none;
  background: white;
  transition: transform 100ms ease;
  transform: translateY(-20px);
}

input {
  font-size: 13px;
  color: #555;
  outline: none;
  padding: 20px 30px;
  border-radius: 25px;
  position: relative;
  border: 0.5px solid rgb(255, 255, 255);
  width: 60%;
}

input.placeholder {
  text-align: center;
}


::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.zone_left_checkbox {
  /* border: 2px solid rgb(30, 255, 0); */
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding-top: 1rem;
  width: 95%;
}

.zone_left_input_checkbox{
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  position:absolute;
  justify-content: left;
  /* flex-wrap: wrap; */
  /* margin-right: 5rem; */
  width: 19.5%;

 
}

.zone_left_input_checkbox input{
  /* border: 2px solid rgb(255, 0, 247); */
  position: relative;
  width: 4%;

}

.Remember{
  padding-top: 2px;
  padding: 6px;
  /* border: 2px solid rgb(255, 0, 247); */
}

.forgot{
  padding-top: 2px;
  padding-right: 3rem;
}

.zone_left_checkbox div {
  font-size: 10px;  
}


.zone_left_button {
  /* border: 2px solid rgb(225, 0, 255); */
  margin-top: 1.5rem;
  margin-bottom: 5.5rem;
}
