.div_advert {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 175px;
  top: 0px;
  bottom: 0px;
  height: 132.5%;
  width: 100%;
  position: absolute;
  z-index: 5;
}

.photo_advert {
  width: 1540px;
  height: 880px;
}
.button_quit {
  position: absolute;
  z-index: 1;
  left: 85%;
  top: 195px;
  cursor: pointer;
}
