.qr_line{
    background: url('contact\ us\ page.png');
    background-size: cover;
    background-repeat: no-repeat center;
    position: relative;
    height: 1200px;
  
    
}

.photo_QR{
 
    position: absolute;
    z-index: 1;   
    margin-left: 630px;
    margin-top: 200px;
    width: 45rem;
   

}

.button_OK{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    margin-top: 910px;
    margin-left: 920px;
  
}
