.Timer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    margin-top: 70px;
}


.Timer h1{
    color: rgb(70, 192, 70);
    font-size: 150px;
}


.Timer_container{
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}