.background-master-config {
  background: url("master\ configguration\ page\ admin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70rem;
  /* border:2px solid rgb(170, 255, 0) ; */
}

.background_masterconfig {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border:2px solid rgb(0, 0, 0) ; */
}

.img_masterconfig {
  width: 80%;
  /* border:2px solid rgb(15, 182, 138) ; */
}

.detail_product {
  /* position:relative; */
  /* background-color:#fff; */
  /* display:block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 500px;
  margin-top: 50px;
  position: absolute;
  /* border:2px solid rgb(225, 0, 255) ; */
  left: 18%;
  top: 23%;
  width: 45%;
  height: 30%;
  padding: 250px;
}

.mc_coffee {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 105%;
  padding: 40px;
  /* border: 2px solid red; */
}

.mc_price {
    position: absolute;
    top: 38%;
    left: 15%;
    width: 105%;
    padding: 40px;
    /* border:2px solid rgb(0, 34, 255) ; */
}

.mc_duration {
    position: absolute;
    top: 70%;
    left: 15%;
    width: 105%;
    padding: 40px;
  /* border:2px solid rgb(11, 77, 23) ; */
}

.button_group{
    position: absolute;
    /* top: 108%; */
    /* width: 100%; */
    /* height: 100%; */
    right: 13%;
    width: 60%;
    height: 65px;
    top: 102%;
  

    /* border:2px solid rgb(255, 98, 0) ; */
}

.button_submit {
  position: relative;
  cursor: pointer;
  width: 44%;

}

.button_close {
  position: relative;
  width: 44%;
  /* height: 100px; */
  /* top: 1500%; */
  left: 50%;
  bottom: 61px;
  /* left: 120%; */
  cursor: pointer;
}

.button_close:hover {
  background-color: antiquewhite;
}

.button_submit:hover {
  background-color: antiquewhite;
}

.dropdown_type {
  border: 1px solid rgb(240, 240, 240);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 10px;
  /* position: relative; */
  text-align: left;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
  height: 60px;
  width: 32%;
  color: rgb(91, 91, 91);
}

.dropdown_price {
  border: 1px solid rgb(240, 240, 240);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 10px;
  text-align: left ;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
  height: 60px;
  width: 20%;
  color: rgb(91, 91, 91);
}

.dropdown_duration {
  border: 1px solid rgb(240, 240, 240);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  padding-left: 20px;
  margin-right: 20px;
  height: 60px;
  width: 20%;
  color: rgb(91, 91, 91);
}

