.navbar{
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    text-align: center;
    margin-right: 20px;
    
}

.navbar h1{
    padding-top: 10px;
    color: rgb(255, 0, 0);
}