.categories_line{
    display: table;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 60px;
    border-radius: 10px;

    
}
.logoimg{
    cursor: pointer;
}
.button_click{
    position: absolute;
    bottom:30px;
    
}
