.categories {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-top: 15.5rem;
  align-content: center;
}

.categories_coffee {
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 70px;
  margin-top: 8px;
  margin-bottom: 28px;
  border-radius: 10px;
  cursor: pointer;
}

.categories_coffee:hover {
  background-color: rgb(227, 255, 239);
}

.categories_coffee h2 {
  padding-top: 30px;
  color: rgb(119, 119, 119);
  font-size: 20px;
}

.categories_coffee img {
  max-width: 300px;
  max-height: 400px;
}

.categories_tea {
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.categories_tea:hover {
  background-color: rgb(227, 255, 239);
}

.categories_tea h2 {
  padding-top: 10px;
  color: rgb(136, 136, 136);
  font-size: 20px;
}


.categories_tea img {
  max-width: 300px;
  max-height: 400px;
}

.categories_soft_drink {
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 70px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.categories_soft_drink h2 {
  padding-top: 10px;
  color: rgb(136, 136, 136);
  font-size: 20px;

}

.categories_soft_drink:hover {
  background-color: rgb(227, 255, 239);
}

.categories_soft_drink img {
  max-width: 300px;
  max-height: 400px;
}
